<div class="ui raised segment">
	<h2 class="ui header">Using interface - with form - mock</h2>

	<form [formGroup]="form" (ngSubmit)="mockSubmit(form.value)" class="ui form">

		<div class="field">
			<label for="code">code</label>
			<input type="text" id="code" placeholder="code" [formControl]="form.controls['code']">
		</div>

		<div class="field">
			<div>Total: {{totalMock}}</div>
		</div>

		<button type="submit" class="ui button primary">calculate</button>
	</form>

</div>


<div class="ui raised segment">
		<h2 class="ui header">Using interface - with form - Real Service</h2>

		<form [formGroup]="form" (ngSubmit)="serviceSubmit(form.value)" class="ui form">
	
			<div class="field">
				<label for="code">code</label>
				<input type="text" id="code" placeholder="code" [formControl]="form.controls['code']">
			</div>
	
			<div class="field">
				<div>Total: {{total}}</div>
			</div>
	
			<button type="submit" class="ui button primary">calculate</button>
		</form>
	
	</div>