<div class="ui raised segment">
	<h2 class="ui header">Dependency Injection using  Injector (with providers on ngModule)</h2>

  <div class="field">
    <p *ngIf="phrase" class="welcome">Lucky Phrase: {{ phrase }}!</p>
    <button
      (click)="generate()"
      class="ui button">Generate
    </button>
  </div>
</div>