<div class="ui raised segment">
	<h2 class="ui header">Dependency Injection using  Injector (manually with ReflectiveInjector core class)</h2>

  <div class="field">
    <p *ngIf="userName" class="welcome">Welcome: {{ userName }}!</p>
    <button
      (click)="signIn()"
      class="ui button">Sign In
    </button>
  </div>
</div>